<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Password Reset Request</title>
</head>
<body>
    <div class="email-background">

        <div class="pre-header">
            <img src="https://drive.google.com/uc?export=view&id=12XBWGwpHIJqlF2JaQlYm14PkzKb-7ZAs" width="100" height="24">
        </div>

        <div class="email-container">
            <h2>Password Reset Request</h2>
            <img src="https://drive.google.com/uc?export=view&id=1UCSF9Q6MWTVvDdjRSiib4F07B5WtVdn1" width="102" height="133">

            <h4>Someone requested for a password to be reset for this account.</h4>
            
            <p>If this was you, then click the button below to reset your password.</p>

            <div>
                <button><a class="button-text" href="">Reset Password</a></button>
            </div>

            <p>Or verify using this link: <a href="">http://capmatch.goldenmindsdaycare.com/<br>user/12345/password-reset-request/1f3fropwezr245</a>
            </p>

            <p>If you did not mean to reset your password, then you can just ignore this email and nothing will happen.</p>
        </div>

        <div class="footer">
            <p class="p-footer">2020 Ashesi University, 1 University Avenue, Berekuso E/R, Ghana</p>
        </div>

    </div>

    
</body>
</html>