<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Verify Your Email</title>
</head>
<body>
    <div class="email-background">

        <div>
            <img src="https://drive.google.com/uc?export=view&id=12XBWGwpHIJqlF2JaQlYm14PkzKb-7ZAs" width="100" height="24">
        </div>

        <div class="email-container">
            <h2>Verify Your Email Address</h2>
            <img src="https://drive.google.com/uc?export=view&id=1XhvU5aqvWQqMtATLkptNk2UFFmy1g_ZH" width="201" height="173">

            <h4>Hi Rahul,</h4>
            
            <p> To activate your account, please click the button below to verify 
                your email address. Your account will not be created until your email
                address is confirmed.
            </p>

            <div>
                <button><a class="button-text" href="">Verify Email</a></button>
            </div>

            <p>Or verify using this link: <a href="">http://capmatch.goldenmindsdaycare.com/
                user/12345/confirm-email/1f3fropwezr245</a>
            </p>

            <p>If you did not sign up to Ashesi CapMatch, please ignore this email or
                contact us at <a href="ashesi.edu.gh">info@ashesi.edu.gh</a>
            </p>
        </div>

        <div class="footer">
            <p class="p-footer">2020 Ashesi University, 1 University Avenue, Berekuso E/R, Ghana</p>
        </div>

    </div>

    
</body>
</html>